@model IEnumerable<BudgetApp.Models.BankAccount>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4">
        <a href=@Url.Action("Create", "Transactions") type="button" class="btn btn-pad btn-primary">Create New Transaction</a>
    </div>
    <div id="editView" class="col-md-8">

    </div>
</div>

<div id="accountsRender">
    @foreach (var account in Model)
    {
        <div class="box-info shadow">
            <h2><strong>@account.Name</strong> <i class="fa fa-angle-right"></i> Balance: <span class="balance text-succ">$ @account.Balance</span></h2>
            <table id="tableTrans" class="data-table compact hover table-striped">
                <thead>
                    <tr>
                        <th>Transaction Date</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Budget</th>
                        <th>Description</th>
                        <th>Reconciled?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var trans in account.Transactions.OrderByDescending(t => t.Transacted))
                    {
                        <tr>
                            <td>@trans.Transacted.DateTime.ToShortDateString()</td>
                            <td>@trans.Amount</td>
                            <td>
                                @if (trans.Income == true)
                                { <i class="fa fa-plus"></i> }
                                else { <i class="fa fa-minus"></i>}
                            </td>
                            <td>@trans.Category.Name</td>
                            @if (trans.BudgetItem != null)
                    {
                        <td>@trans.BudgetItem.Name</td>}
                    else {
                        <td></td>}
                            <td>@trans.Description</td>
                            <td>
                                @if (trans.Reconciled == true)
                    { <i class="fa fa-check"></i>  }
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="detailsModal" data-id="@trans.Id" data-account="@trans.BankAccount" data-budget="@trans.BudgetItem" data-category="@trans.Category" data-user="@trans.User" data-transacted="@trans.Transacted" data-entered="@trans.Entered" data-amount="@trans.Amount" data-desc="@trans.Description" data-income="@trans.Income" data-recon="@trans.Reconciled">Details</button>
                                <button type="button" class="editTrans btn btn-primary btn-xs" data-id="@trans.Id"><i class="fa fa-edit"></i></button>
                                <button type="button" class="deleteTrans btn btn-danger btn-xs" data-id="@trans.Id"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<!-- TRANS DETAILS MODAL -->
<div id="detailsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>Transaction</strong> Details</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    @*<dt>Account</dt>
    <dd>@Html.DisplayFor(model => model.BankAccount.Name)</dd>
    @if (Model.BudgetItemId != null)
    {
        <dt>Budget</dt>
        <dd> @Html.DisplayFor(model => model.BudgetItem.Name)</dd>
    }
    <dt>Category</dt>
    <dd>@Html.DisplayFor(model => model.Category.Name)</dd>
    <dt>Entered By</dt>
    <dd> @Html.DisplayFor(model => model.User.FirstName)</dd>
    <dt>Transaction Date</dt>
    <dd> @Html.DisplayFor(model => model.Transacted.DateTime.ToShortDateString())</dd>
    <dt>Entered</dt>
    <dd>@Html.DisplayFor(model => model.Entered.DateTime.ToShortDateString())</dd>
    <dt>Amount</dt>
    <dd>$@Html.DisplayFor(model => model.Amount)</dd>
    <dt>Description</dt>
    <dd> @Html.DisplayFor(model => model.Description)</dd>
    <dt> Type</dt>
    @if (Model.Income)
    {
    <dd>Income</dd>}
    else {
    <dd>Expense</dd>}
    <dd>@Html.DisplayFor(model => model.Income)</dd>
    <dt> Reconciled?</dt>
    <dd>
        @Html.DisplayFor(model => model.Reconciled)
    </dd>*@
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-teal" data-dismiss="modal">Close</button>             
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->