@model IEnumerable<BudgetApp.Models.BankAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var account in Model)
{
    <div class="box-info shadow">
        <h2><strong>@account.Name</strong> <i class="fa fa-angle-right"></i> Balance: <span class="balance text-succ">$ @account.Balance</span></h2>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Transaction Date</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Budget</th>
                    <th>Description</th>
                    <th>Reconciled?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trans in account.Transactions)
                {
                    <tr>
                        <td>@trans.Transacted.DateTime.ToShortDateString()</td>
                        <td>@trans.Amount</td>
                        <td>@if (trans.Type == true)
                        { <i class="fa fa-plus"></i> }
                        else { <i class="fa fa-minus"></i>}
                        </td>
                        <td>@trans.Category.Name</td>
                        @if (trans.BudgetItem != null)
                        {<td>@trans.BudgetItem.Name</td>}
                        else { <td></td>}
                        <td>@trans.Description</td>
                        <td>@if (trans.Reconciled == true)
                        { <i class="fa fa-check"></i>  }
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="detailsModal" data-id="@trans.Id">Details</button>
                           <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="editModal" data-id="@trans.Id">Edit</button>
                            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="deleteModal" data-id="@trans.Id">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<!-- DELETE CONFIRM MODAL -->

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Transaction</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger"><strong>Are you sure you want to delete this transaction?</strong></p>
                <p>All information and records related to this transaction will be permanently deleted.  If you need to correct your account balance, accommodate for a refund, or other modification, consider creating a reconciliation transaction instead.</p>
            </div>
            <div class="modal-footer">
                <a href=@Url.Action("Create", "Transactions") class="btn btn-primary">Create Transaction</a>
                @using (Html.BeginForm("Delete", "Transactions"))
                    {
                        <input type="submit" class="btn btn-danger"value="Delete Transaction" />
                }
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->