@model IEnumerable<BudgetApp.Models.BankAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var account in Model)
{
    <div class="box-info">
        <h2>@account.Name</h2>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Transaction Date</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Budget</th>
                    <th>Description</th>
                    <th>Reconciled?</th>
                    <th>Entered by</th>
                    <th>On</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trans in account.Transactions)
                {
                    <tr>
                        <td>@trans.Transacted</td>
                        <td>@trans.Amount</td>
                        <td>@if (trans.Type == true)
                        { <i class="fa fa-plus"></i> }
                        else { <i class="fa fa-minus"></i>}
                        </td>
                        <td>@trans.Category</td>
                        <td>@trans.BudgetItem</td>
                        <td>@trans.Description</td>
                        <td>@if (trans.Reconciled == true)
                        { <i class="fa fa-check"></i>  }
                        </td>
                        <td>@trans.User.FirstName + @trans.User.LastName</td>
                        <td>@trans.Entered.DateTime</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = trans.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = trans.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = trans.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}