@using BudgetApp.Models
@model BudgetApp.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_AnonLayout.cshtml";
}
@{
    ViewBag.Title = "Register";
}

<!-- Begin Register Page -->
<div class="full-content-center animated fadeInDownBig">
    <a href="#fakelink"><img src="assets/img/logo-login.png" class="logo-login img-circle" alt="Logo"></a>
    <div class="login-wrap">
        <div class="box-info">
            <h2 class="text-center"><strong>Register</strong> new account</h2>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group login-input">
                    <i class="fa fa-user overlay"></i>
                        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control text-input", @placeholder = "Your Name" })
                </div>
                <div class="form-group login-input">
                    <i class="fa fa-envelope overlay"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-input", @placeholder = "Your Email" })
                </div>
                <div class="form-group login-input">
                    <i class="fa fa-key overlay"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control text-input", @placeholder = "Password" })
                </div>
                <div class="form-group login-input">
                    <i class="fa fa-eye overlay"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control text-input", @placeholder = "Re-enter Password" })
                </div>
                <div class="form-group login-input">
                        <button type="submit" class="btn btn-success btn-block"><i class="fa fa-rocket"></i> Register</button>
                </div>
            }

            <p class="text-center"><strong>- or -</strong></p>
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
            <div class="col-md-offset-1 col-md-10">
                <p class="text-warning text-center">If you received an invitation code through email, you will enter this in the next step.</p>
            </div>
        </div>
        <p class="text-center"><a href="login.html"><i class="fa fa-sign-in"></i> Back to login</a></p>
    </div>
</div>
<!-- End Register Page -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
