@model IEnumerable<BudgetApp.Models.BankAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

@foreach (var account in Model) {
    <tr>
        <td>@account.Name</td>
        <td>@account.Balance</td>
        @*@if (User.IsInRole("Admin"))
        {*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = account.Id })
                @Html.ActionLink("Delete", "Delete", new { id = account.Id })
            </td>
        @*}*@

    </tr>
}

</table>
