@model BudgetApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model=>model.FirstName) </dt>
        <dd>@Html.DisplayFor(model=>model.FirstName)</dd>
        <dt>@Html.DisplayNameFor(model=>model.LastName)</dt>
        <dd>@Html.DisplayFor(model=>model.LastName)</dd>
        <dt>@Html.DisplayNameFor(model=>model.Email)</dt>
        <dd>@Html.Raw(Model.Email)</dd>
        <dt>@Html.DisplayNameFor(model=>model.AdminRights)</dt>
        <dd>
            @if (Model.AdminRights == true)
            { <i class="fa fa-check"></i>}
            else { <i class="fa fa-times"></i>}
        </dd>
    </dl>

    <h4>Your Budgets</h4>
    @if(Model.BudgetItems.Count() == 0 )
    { <p>You have no current budgets.</p>}
    else { 
    foreach(var budgetItem in Model.BudgetItems)
    {
        <dl>
            <dt>Name</dt>
            <dd>@budgetItem.Name</dd>
            <dt>Type</dt>
            @if(budgetItem.Type==true)
            { <dd><i class="fa fa-plus"></i></dd>}
            else { <dd><i class="fa fa-minus"></i></dd>}
            <dt>Category</dt>
            <dd>@Html.Raw(budgetItem.Category)</dd>
            <dt>Goal Amount</dt>
            <dd>@budgetItem.AmountLimit</dd>
            <dt>Balance</dt>
            <dd>@budgetItem.Balance</dd>
            <dt>Editing</dt>
            @if (budgetItem.AllowEdits == true)
            {<dd>Anyone</dd>}
            else { <dd>Only you</dd>}
            <dt># of Transactions</dt>
            <dd>@budgetItem.Transactions.Count()</dd>
        </dl>
        @Html.ActionLink("Edit", "BudgetItems", new { id = budgetItem.Id })
    }
    }
    @Html.ActionLink("Create New Budget", "Create", "BudgetItems", null, new { @class = "btn btn-primary" })



    <h4>Edit Your Profile</h4>
    @using (Html.BeginForm("Edit", "Manage")) {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(model=>model.Email)
        <p class="text-danger">@ViewBag.ErrorMessage</p>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.FirstName) </dt>
        <dd>@Html.EditorFor(model => model.FirstName)</dd>
        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.EditorFor(model => model.LastName)</dd>
    </dl>
        <button type="submit" class="btn btn-dark" formmethod="post" formaction="Edit">Save Changes</button>
        }
    <dl>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. @*See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.*@
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
