@model BudgetApp.Models.BudgetItem

@{
    Layout = null;
}
    <h2><strong>Edit</strong> Budget Item</h2>
    @using (Html.BeginForm("Edit", "BudgetItems"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group login-input">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Enter Budget Name" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
            <div class="form-group">
                <label class="col-md-2">Select Category</label>
                <div class="col-md-10">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div id="ckbtn-type">
                    <input type="checkbox" name="Type" value="0" class="btn btn-danger"><span id="ck-text">Goal Spending Limit</span>
                </div>
            </div>
            <div class="form-group login-input">
                @Html.EditorFor(model => model.AmountLimit, new { htmlAttributes = new { @class = "form-control text-input", id = "amt-editor" } })
                @Html.ValidationMessageFor(model => model.AmountLimit, "", new { @class = "text-danger" })
            </div>
            <div class="form-group login-input">
                <label class="col-md-2">Warn when within:</label>
                <div class="col-md-10">
                    @Html.DropDownList("WarningId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WarningId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group login-input">
                @Html.LabelFor(model => model.AllowEdits, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AllowEdits)
                        @Html.ValidationMessageFor(model => model.AllowEdits, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                    <a href=@Url.Action("Index", "BudgetItems") class="btn btn-primary">Cancel</a>
                    @*<button type="button" id ="createBudg" class="btn btn-primary">Cancel</button>*@
                </div>
            </div>
            
    }

