@model BudgetApp.Models.BudgetItem
<div class="row">
    <div class="box-info shadow">
        <h2>Viewing Transactions for <strong>@Model.Name</strong></h2>
        @if (Model.Transactions != null)
        {
            <table class="data-table compact hover table-striped">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Transacted</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.Transactions.OrderByDescending(t=>t.Transacted))
                    {
                        <tr>
                            <td>@transaction.BankAccount.Name</td>
                            <td>@transaction.Transacted.DateTime.ToShortDateString()</td>
                            @if (transaction.Income)
                            {
                                <td><i class="fa fa-plus"></i></td>}
                            else {
                                <td><i class="fa fa-minus"></i></td>}
                            <td>@transaction.Amount</td>
                            <td>@transaction.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else { <p>There are no transactions for this budget yet.</p>}
    </div>
</div>
