@model BudgetApp.Models.Household
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="box-info shadow">
            <h2><strong>All</strong> Budget Items</h2>
            <table class="data-table compact table-striped hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Balance</th>
                        <th>Goal</th>
                        <th>Category</th>
                        <th>Warn Within</th>
                        <th>Editing</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BudgetItems)
                    {
                        var userId = User.Identity.GetUserId();
                        <tr>
                            <td>@item.Name</td>
                            @if(item.Type== true)
                            { <td><i class="fa fa-plus"></i></td>}
                            else { <td><i class="fa fa-minus"></i></td>}
                            <td>@item.Balance</td>
                            <td>@item.AmountLimit</td>
                            <td>@item.Category.Name</td>
                            <td>$@item.Warning.WarningLevel</td>
                            @if (item.AllowEdits==true || (item.AllowEdits != true && userId == item.CreatorId))
                            {
                                <td><button id="editBudg" class="btn btn-sm btn-primary" data-id="@item.Id" type="button"><i class="fa fa-edit"></i></button>
                                <button id="deleteBudg" class="btn btn-sm btn-danger" data-id="@item.Id" type="button"><i class="fa fa-trash"></i></button></td>}
                            else { <td><i>Locked</i></td>}

                            @*}*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*@if(User.IsInRole("Admin"))
        {*@
    <div class="col-md-4 box-info shadow">
        <div id="editView">
            @Html.Action("_Create", "BudgetItems")
        </div>
    </div>
    @*}*@
</div>
<div class="row">
    <div class="transactions col-md-10 col-md-offset-1">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}
