@model BudgetApp.Models.Household
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-7">
        <div class="box-info">
            <h2><strong>All</strong> Budget Items</h2>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Balance</th>
                        <th>Goal / Limit</th>
                        <th>Category</th>
                        <th>Warning Level</th>
                        <th>Created By</th>
                        <th>Edit?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BudgetItems)
                    {
                        var userId = User.Identity.GetUserId();
                        <tr>
                            <td>@item.Name</td>
                            @if(item.Type== true)
                            { <td><i class="fa fa-plus"></i></td>}
                            else { <td><i class="fa fa-minus"></i></td>}
                            <td>@item.Balance</td>
                            <td>@item.AmountLimit</td>
                            <td>@Html.Raw(item.Category)</td>
                            <td>@item.WarnAt</td>
                            <td>@item.Creator</td>
                            @if(item.AllowEdits== true)
                            { <td><i class="fa fa-thumbs-o-up fa-2x"></i></td>}
                            else {<td><i>Locked</i></td>}
                            
                            <td>
                                @*@if (User.IsInRole("Admin"))
                                    {*@
                                @if (item.AllowEdits == true || item.CreatorId == userId)
                                {
                                <button class="editBudg btn btn-sm btn-primary" data-id="@item.Id" type="button">Edit</button>
                                <button class="deleteBudg btn btn-sm btn-danger" data-id="@item.Id" type="button">Delete</button>
                                }
                            </td>
                            @*}*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*@if(User.IsInRole("Admin"))
        {*@
    <div class="col-md-5">
        <div id="editView">
            @Html.Action("_Create", "BudgetItems")
        </div>
    </div>
    @*}*@
</div>
<div class="row">
    <div class="transactions col-md-10 col-md-offset-1">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
