@model BudgetApp.Models.Household
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Details";
    var currentUserId = User.Identity.GetUserId();
    var currentUser = Model.Users.FirstOrDefault(u => u.Id == currentUserId);
}

<h2>Manage Household</h2>
<div class="row">
    <div class="col-md-7">
        <div class="box-info shadow">
            <h2><strong>Users</strong></h2>
            <table id="tableUsers" class="data-table compact hover table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Admin Rights?</th>
                        <th>Personal Budgets</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
            {
                        <tr>
                            <td>@user.FirstName @user.LastName </td>
                            <td>@user.Email</td>
                            @if (user.AdminRights)
                            {
                                <td><i class="fa fa-check"></i></td>}
                            else {
                                <td><i class="fa fa-times"></i></td>}
                            <td class="description">
                                @if (Model.BudgetItems != null)
                                {
                                    foreach (var budget in Model.BudgetItems)
                                    {
                                        if (budget.CreatorId == user.Id && budget.AllowEdits != true)
                                        { <p>@budget.Name, @budget.Balance of @budget.AmountLimit </p><br />;
                                        }
                                    }
                                }
                            </td>
                            <td>
                                @*if (User.IsInRole("Admin"))
                                    {*@
                                @using (Html.BeginForm("ChangeAdmin", "Households", new { id = user.Id }))
                                {
                                    @Html.AntiForgeryToken()
                                    if (currentUserId != user.Id && user.AdminRights == true)
                                    {<button type="submit" class="btn btn-primary btn-xs">Remove Admin Rights</button> }
                                    else if (currentUserId != user.Id && user.AdminRights != true)
                                    {<button type="submit" class="btn btn-primary btn-xs">Give Admin Rights</button>}
                                }
                                @using (Html.BeginForm("LeaveHousehold", "Households", new { id = user.Id }))
                                {@Html.AntiForgeryToken()
                                    if (user.Id != currentUserId)
                                    {<button type="submit" class="btn btn-danger btn-xs">Expel User</button>}
                                }
                                @*}*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="box-info shadow">
                <h2><strong>Invited</strong> Users<a href=@Url.Action("Create", "InvitedUsers") class="btn btn-primary pull-right">Invite New User</a></h2>
                <table id="tableIUsers" class="data-table compact hover table-striped">
                    <thead>
                        <tr>
                            <th>Invitee</th>
                            <th>Email</th>
                            <th>Admin?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var iUser in Model.InvitedUsers)
            {
                            <tr>
                                <td>@iUser.Name</td>
                                <td>@iUser.Email</td>
                                @if (iUser.AdminRights)
                                {
                                    <td><i class="fa fa-check"></i></td>}
                                else {
                                    <td><i class="fa fa-times"></i></td>}
                                <td>
                                    @using (Html.BeginForm("Delete", "InvitedUsers"))
                                    {<button type="submit" class="btn btn-danger btn-xs">Rescind Invite</button>}

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="box-info shadow">
            <h2>Categories</h2>
            <div class="col-md-5">
                <dl id="categories" class="dl-horizontal">
                    @foreach (var cat in Model.Categories)
                    {
                        <dt>@cat.Name</dt>
                        if (currentUser.AdminRights)
                        {
                            <dd>
                                <button id="editCat" class="btn btn-xs btn-primary" data-id="@cat.Id" type="button"><i class="fa fa-edit"></i></button>
                                <button id="deleteCat" class="btn btn-xs btn-danger" data-id="@cat.Id" type="button"><i class="fa fa-trash"></i></button>
                            </dd>
                        }
                    }
                </dl>
                </div>
            <div class="col-md-6 col-md-offset-1">
                <div>
                    @Html.Action("_CreateCat", "Categories")
                </div>
                <div id="editView">
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>


<div class="row verify-contain">
    <button type="button" id="leave" class="btn btn-danger">Leave Household</button>
    <div id="verify">
        <p class="text-danger">Are you sure you want to leave this household? You will lose all access to the information contained within. If you are the last member, the household will be deleted.</p>
        @using (Html.BeginForm("LeaveHousehold", "Households", new { id = currentUserId }))
            {
            <button type="submit" class="btn btn-danger">Yes, leave household</button>
        }
    </div>
</div>


