@model BudgetApp.Models.Household
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Details";
    var currentUserId = User.Identity.GetUserId();
}


<section class="household">
    <h2>Household: <strong>@Html.DisplayFor(model => model.Name)</strong></h2>
    <hr />
    <h4>Users</h4>
    <div class="row">
        <p class="category-header col-md-2 col-md-offset-1">User</p>
        <p class="category-header col-md-3">Email</p>
        <p class="category-header col-md-1">Admin?</p>
    </div>
    @foreach (var user in Model.Users)
    {
        <div class="row">
            <p class="col-md-2 col-md-offset-1"><strong>@user.FirstName</strong></p>
            <p class="col-md-3">@user.Email</p>
            <p class="col-md-1">@user.AdminRights</p>
            @foreach (var budget in Model.BudgetItems)
            {
                <p class="col-md-4">
                    <b>@budget.Name</b><br />
                    @budget.Balance<br />
                    @budget.AmountLimit
                </p>
            }
        </div>

        //if (User.IsInRole("Admin"))
        //{

        using (Html.BeginForm("ChangeAdmin", "Households", new { id = user.Id }))
        {
            @Html.AntiForgeryToken()
            if (currentUserId != user.Id)
            {
                <button type="submit" class="btn btn-success btn-xs">Remove Admin Rights</button>
            }
            else
            {
                <button type="submit" class="btn btn-success btn-xs">Give Admin Rights</button>
            }
        }
        using (Html.BeginForm("LeaveHousehold", "Households", new { id = user.Id }))
        {
            if (user.Id != currentUserId)
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger btn-xs">Expel User</button>
            }
        }
    }

    @*}*@
</section>
<section class="invitedUsers">
    <h4>Invited Users</h4>
    <div class="row">
        <p class="category-header col-md-2 col-md-offset-1">Invitee</p>
        <p class="category-header col-md-3">Email</p>
        <p class="category-header col-md-1">Admin?</p>
    </div>
    @foreach (var user in Model.InvitedUsers)
    {
        <div class="row">
            <p class="col-md-2 col-md-offset-1"><strong>@user.Name</strong></p>
            <p class="col-md-3">@user.Email</p>
            <p class="col-md-1">@user.AdminRights</p>
        </div>
        using (Html.BeginForm("Delete", "InvitedUsers"))
        { 
            <button type="submit" class="btn btn-danger btn-xs">Rescind Invite</button>}
        }
    <a href=@Url.Action("Create", "InvitedUsers") class="btn btn-success">Invite New User</a>
</section>





<div class="verify-contain">
    <button type="button" id="leave" class="btn btn-danger">Leave Household</button>
    <div id="verify">
        <p class="text-danger">Are you sure you want to leave this household? You will lose all access to the information contained within. If you are the last member, the household will be deleted.</p>
        @using (Html.BeginForm("LeaveHousehold", "Households", new {id = currentUserId }))
        {
            <button type="submit" class="btn btn-danger">Yes, leave household</button>
        }
    </div>
</div>


